@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// =======================================
// Landing Page
// =======================================

.landing {
  align-items: center;
  background-image: url("../img/marsBackground.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex: auto;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.landing-title {
  font-size: 80px;
  margin: auto;
}

.landing-subtitle {
  font-size: 20px;
}

.landing-subtitle__notice {
  color: rgb(0, 255, 157); //light green
  font-size: 30px;
}

// =======================================
// Sign In
// =======================================

.signin {
  background-image: url("../img/marsBackground.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex: auto;
  height: 100%;
  position: absolute;
  width: 100%;
}

.signin-form {
  align-items: left;
  margin: auto;
}

.signin-label {
  font-weight: bold;
}

.signin-input {
  width: 100%;
}

.signin-button {
  width: 100%;
}

// =======================================
// My Samples
// =======================================

.mysamples {
  display: flex;
  flex: auto;
  height: 100%;
  position: absolute;
  width: 100%;
}

.mysamples-spinner__container {
  display: flex;
  margin: auto;
  height: 30%;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.mysamples-spinner {
  height: 3rem !important;
  width: 3rem !important;
}

.mysamples-notice {
  color: rgb(55, 14, 238);
  font-size: 60px;
}

.mysamples-table__container {
  height: 100%;
  padding: 20px;
  width: 100%;
}

// =======================================
// Panel
// =======================================

.panel {
  background: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.panel-header {
  display: flex;
  flex: auto;
  background: #007bff;
  border-radius: 10px 10px 0 0;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.panel-content {
  flex: auto;
  overflow: auto;
  height: 50%;
}

@media only screen and (max-width: 830px) {
  .header {
    font-size: 50px;
  }
}

@media only screen and (max-width: 515px) {
  .header {
    font-size: 35px;
  }
}

@media only screen and (max-width: 375px) {
  .header {
    font-size: 25px;
  }
}

// =======================================
// Mapping
// =======================================

.mapping {
  display: flex;
  flex: auto;
  height: 100%;
  position: absolute;
  width: 100%;
}

.mapping-panel__container {
  display: flex;
  margin: auto;
  height: 60%;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.mapping-form {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.mapping-panel__tags {
  margin: auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.mapping-input__container {
  margin: auto !important;
  width: 90% !important;
}
.mapping-input {
  padding-bottom: 20px !important;
}

.mapping-button {
  margin: 20px;
  width: 90% !important;
  padding: none !important;
}
