
@import "../../node_modules/bootstrap/scss/functions.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";
@import "../../node_modules/bootstrap/scss/mixins.scss";

$squidink: #3a4c88;

.squid {
  .form-control,
  .custom-file input[type="file"].custom-file-input ~ .custom-file-label {
    &:focus {
      border-color: $squidink;
      box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($squidink), $squidink, 15%), .5);
    }
  }
  label,
  h4 {
    color: $squidink;
  }
}

.btn.btn-outline-squid {
  @include button-outline-variant($squidink, color-yiq($squidink), $squidink, $squidink);
}

.border.border-squid {
  border: 1px solid $squidink !important;
}
